In [2]:
import pandas as pd

# Load dataset (use path from Colab file upload)
df = pd.read_csv('/content/books.csv')

# ğŸ” Dataset overview
print("ğŸ”¹ Shape of data:", df.shape)
print("ğŸ”¹ Columns:", df.columns)
print("\nğŸ”¹ Data types:\n", df.dtypes)

# ğŸ’¡ Cleaning Price
df['Price'] = df['Price'].replace('Â£', '', regex=True)
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')  # Safer conversion

# ğŸ“ˆ Summary statistics
print("\nğŸ”¹ Summary statistics:\n", df.describe())

# â— Null values
print("\nğŸ”¹ Missing values:\n", df.isnull().sum())

# ğŸ” Duplicate entries
print("\nğŸ”¹ Duplicate entries:", df.duplicated().sum())

# ğŸ“š Top 5 expensive books
print("\nğŸ”¹ Top 5 most expensive books:\n", df.sort_values(by='Price', ascending=False).head(5))

ğŸ”¹ Shape of data: (20, 2)
ğŸ”¹ Columns: Index(['Title', 'Price'], dtype='object')

ğŸ”¹ Data types:
 Title    object
Price    object
dtype: object

ğŸ”¹ Summary statistics:
        Price
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

ğŸ”¹ Missing values:
 Title     0
Price    20
dtype: int64

ğŸ”¹ Duplicate entries: 0

ğŸ”¹ Top 5 most expensive books:
                                    Title  Price
0                   A Light in the Attic    NaN
1                     Tipping the Velvet    NaN
2                             Soumission    NaN
3                          Sharp Objects    NaN
4  Sapiens: A Brief History of Humankind    NaN