In [2]:
import pandas as pd

# Load dataset (use path from Colab file upload)
df = pd.read_csv('/content/books.csv')

# 🔍 Dataset overview
print("🔹 Shape of data:", df.shape)
print("🔹 Columns:", df.columns)
print("\n🔹 Data types:\n", df.dtypes)

# 💡 Cleaning Price
df['Price'] = df['Price'].replace('£', '', regex=True)
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')  # Safer conversion

# 📈 Summary statistics
print("\n🔹 Summary statistics:\n", df.describe())

# ❗ Null values
print("\n🔹 Missing values:\n", df.isnull().sum())

# 🔁 Duplicate entries
print("\n🔹 Duplicate entries:", df.duplicated().sum())

# 📚 Top 5 expensive books
print("\n🔹 Top 5 most expensive books:\n", df.sort_values(by='Price', ascending=False).head(5))

🔹 Shape of data: (20, 2)
🔹 Columns: Index(['Title', 'Price'], dtype='object')

🔹 Data types:
 Title    object
Price    object
dtype: object

🔹 Summary statistics:
        Price
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

🔹 Missing values:
 Title     0
Price    20
dtype: int64

🔹 Duplicate entries: 0

🔹 Top 5 most expensive books:
                                    Title  Price
0                   A Light in the Attic    NaN
1                     Tipping the Velvet    NaN
2                             Soumission    NaN
3                          Sharp Objects    NaN
4  Sapiens: A Brief History of Humankind    NaN